
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('../fonts/TT Lakes Regular'), local('../fonts/TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('../fonts/TT Lakes Bold'), local('../fonts/TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('../fonts/TT Lakes Medium'), local('../fonts/TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    font-family: "TT Lakes",sans-serif;
    font-weight: 500;
    color:#1B1C21;;
    font-size: 16px;

}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin:0;
    padding-left: 0;
}
.container{
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;   
    padding: 18.59px 16px 17.59px 16px;
    border-bottom: 1px solid #D9FFF5;  
}
.header__menu--left{
   display: flex;  
   height: auto;
}
.header__btn-burger{
    margin-right:16.73px;
  
}
.header__logo{
    height: 50.81px;
}
.header__btn-repair::before{
    content: "";
    height: 32px;
    width: 2px;
    background-color:#EAEAEA;
    display:inline-block;
    margin-right: 18px;
}

.header__menu--center{
    display: none;

}
.header__menu--right{
    display: flex;

    
}
.header__btn-repair{
  margin-right: 16px;  
}

.header__btn{
    background-color: white;
    height: 40px;
    align-self: center;
}
.btn-span{
    display: none;
}
.main{
    background-color: #f8f8f8;
}
.main__h1-container::before{
    content: "";
    width:4px;
    height: 40px;
    background-color: #41F6D7;
    display: inline-block;
    margin-right: 14px;
}
.main__h1-container{
   padding: 24px 0px;
   display: flex; 
}
.main__h1{
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}
.main__p2, .main__p3{
    display: none;
}
.main__p2-span{
    display: none;
}
.main__p1{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}
.main__list{
    display: flex;
    overflow: scroll;
    margin-bottom: 24px;
    justify-content: space-between;
}

.main__list-items{
    white-space: nowrap;
}
.main__list-items:first-child{
    margin-left:16px;
}

.main__list-link{
    line-height: 43px;
    letter-spacing: -0.2px;
    color: #7E7E82;  
    padding: 8px 16px;
}
.main__list-link:focus{
    border:2px solid #B8FFEC;
    background-color: white;
    border-radius: 6px;
}
.main__content{
    padding:0px 16px;
}
.main__p1{
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
}
.main__content-btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin:16px 0px 16px 7px;
    background-color: #F8F8F8;

}
.main__btn-img{
    margin-right: 16px;
}
.main__img{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .header__menu--center{
        display:block;
        display:flex;
        margin-left:240px;
    }
    .header__btn-call{
        margin-right: 16px;
    }
    .header__btn-chat{
        margin-right: 16px;
    }
    .header__logo::before{
        content: "";
        height: 32px;
        width: 2px;
        background-color:#EAEAEA;
        display:inline-block;
        margin-right: 17px;
        margin-bottom: 7px;
        }
    .header{
        padding-left:24px;
        padding-right: 24px;
    }
    .header__btn-repair::before{
        margin-right: 15px;
        
        }
     .main__h1-container::before{
        margin-right: 20px;
        }
     .main__list-items:first-child{
            margin-left:24px;
        }
    
    .main__content-container {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 40px;;

    }
    .main__content{
        display: flex;
        padding: 0px;
        width: 312px;
        
        flex-direction: column;
        justify-content: space-between;
        }
    .main__p2{
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        
    }
    .main__content-btn{ 
        margin-left: 10px;
        margin-top: 12px;
        align-self: flex-start;
    }
    .main__img-container{
      display: flex;  
    }
    
    .main__img{
      border-radius: 6px;
      width: 360px ;
    }

  }

  @media screen and (min-width: 1120px){
    
    .header__menu--left, .header__menu--center, .header__btn-repair::before{
        display: none;
    }
    .btn-span{
        display: block;
        align-self: center;
        font-family: "TT Lakes",sans-serif;
        font-weight: 500;
        color:#1B1C21;;
        font-size: 16px;
        letter-spacing: -0.2;
        margin-right: 8px;
    }
    .header__btn{
        display: flex;
        flex-direction: row-reverse;
        background-color: #F8F8F8;
        
    }
    .header__btn-repair {
        margin-right: 32px;
        margin-left: 300px;
    }
    .header{
        display:flex;
        justify-content: flex-end;
        background-color: #F8F8F8;
        border: none;
        padding-right: 32px;
        padding-top: 42px;
       
    }
    .main__h1-container{
    
        position: absolute;
        top:18px;
  }
  .main__h1-container::before{
    
    margin-right: 30px;
  }

.main__list{
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0px 30px 19.22px 10px;
}
.main__list-items:last-child{
    margin-top: 5px;
    margin-left: 24px;
}
.main__p3{
    display: block;
}
.main__content-container{
    justify-content: space-evenly; 
}
.main__content{
    width: 490px;
    justify-content: flex-start;  
}
.main__p1{
    margin-bottom: 20px;
}
.main__p3{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
.main__p2-span{
    display: inline-block;
}
.main__img-container{
   width: 531.35px;
 
}
.main__img{
    width: auto; 
}
}







